Java.perform(function() {
    send(JSON.stringify({
        "hook_type": "template_loaded",
        "template": "anti_detection.frida_detect_bypass",
        "message": "Frida detection bypass template loaded"
    }));
});
