Java.perform(function() {
    send(JSON.stringify({
        "hook_type": "template_loaded",
        "template": "ssl.okhttp3_unpin",
        "message": "OkHttp3 SSL unpinning template loaded"
    }));
});
