Java.perform(function() {
    send(JSON.stringify({
        "hook_type": "template_loaded",
        "template": "crypto.cipher_monitor",
        "message": "Cipher monitor template loaded"
    }));
});
